-gallery_image = ["app.jpg", "t1.jpg", "t.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Tabsa Express
		%meta{name:"description",content:"Realiza tus envios de una forma rapida y segura"}
		%link{href:"https://fonts.googleapis.com/css?family=Open+Sans",rel:"stylesheet"}
		%link{rel:"stylesheet",href:"css/normalize.css"}
		%link{rel:"stylesheet",href:"css/bootstrap.css"}		
		%link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
		%link{rel:"stylesheet",href:"css/style.css"}
		%meta{name:"viewport",content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter",content:"#{gallery_image.size-1}"}
		%script{src:"js/vendor/modernizr-3.6.0.min.js"}

	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
		Estas usando un navegador
		%strong desactualizado.
		por favor
		%a{href:"http://browsehappy.com/"}
		actualiza tu navegador
		para una mejor experiencia
		="<![endif]-->" 
		.video-container
			%video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/videos/img/bb.jpg"}
				%source{src:"videos/mp4/bb.mp4",typ:"video/mp4"}
				%source{src:"videos/webm/bb.webm",typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up#home
			.col-xs-12
				.box.white-text{style:"margin-top:12%"}
					%img{src:"/img/tabsa.png", width:"30%"}
					%h1.open-s.title.no-margin Mensajeria y paqueteria mundial
					%p.top-space#is_open 
						%i.glyphicon.glyphicon-time
						Abierto ahora
			%nav.fixed.top.right.navigation.white-text#navigation
				-menu = ["Inicio", "Costos", "Galeria", "Contacto", "Como llegar" ]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{}= item

			.absolute.white-text.full-width.black.large-padding#description{style:"z-index:20;"}
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						¡Hacemos que las cosas sucedan!
					.col-xs.hidden#sticky-navigation
						.box
							.nav.text-right.navigation
								%ul.list-inline
									-menu.each do |item|
										%li
											%a{}= item
			}

		.text-center.relative#precios
			.absolute.white#menu-title
				%h2.open-s.title Costos
			-precios = [{name:"Cualquier articulo como\nTV, Celulares etc.", image:"img/producto.jpg", pricing:""},{name:"Normal", image:"img/normal.jpg", pricing:"100"},{name:"Rapido", image:"img/rapido.jpg", pricing:"200"},{name:"Express", image:"img/expres.jpg", pricing:"300"},{name:"Archivos importantes como\nImpresiones, folios etc.", image:"img/documento.jpg", pricing:""},{name:"Normal", image:"img/normal.jpg", pricing:"100"},{name:"Rapido", image:"img/rapido.jpg", pricing:"200"},{name:"Express", image:"img/expres.jpg", pricing:"300"}]

			.row
				-precios.each do |photo|
					.col-md-4.col-lg-3.col-sm-6.col-xs-12.price{style:"background-image:url(/#{photo[:image]})"}
						.screen
							.row.middle-xs.full-height
								.col-xs-12.white-text
									%h4.open-s.subtitle= photo[:name]
									%p.no-margin= photo[:pricing]
		#gallery
			.inner
				-gallery_image.each do |image|
					.image{style:"background-image:url(/img/slider/#{image})"}
		.container
			.card.white.black-text.text-center.relative
				%h3.medium Quiénes somos
				%p.top-space SOMOS UNA EMPRESA Enfocada en atender al mercado de Familias Migrantes Mexicanas en Estados Unidos de Norteamérica. Por medio del desarrollo de Centros de Servicio Migrantes, los cuales sirven servicios y productos como: Mensajería y Paquetería de México hacia Estados Unidos y Viceversa; Transferencias Electrónicas de Dinero de Estados Unidos hacia México y Resto de Latinoamérica, Venta de Productos de Telefonía, Check Cashing en USA y Muchos más Productos.

		.top-space.black.white-text.full-height#contact
			.row.middle-xs.full-height.top-space
				.col-xs-12
					.box.center-xs
						%button.btn.btn-primary.top-space-large.medium{type:"button"} Realizar petición
						%p.top-space.medium Si tiene alguna duda contactanos.
						%p.text-center.medium#info-contacto Precione enter para llenar el campo y enviar
						%form{action:"https://formspree.io/uli_vra@hotmail.com",method:"POST",id:"contact-form",class:"step-form"}
							.row.center-xs
								.col-xs-2.col-md-1.text-center
									.box
										-3.times do |i|
											-if i == 0
												.path-step.active
											-else
												.path-step
											%br
								.col-xs-5
									.box
										%fieldset.step.active
											%input{type:"email",name:"email",placeholder:"ejemplo@gmail.com",class:"input",required:true}
										%fieldset.step
											%input{type:"text",name:"name",placeholder:"Coloca tu nombre",class:"input",required:true}
										%fieldset.step
											%textarea{name:"body",placeholder:"Comentario",class:"input",required:true}


		%script{src:"/js/vendor/jquery-3.3.1.min.js"}
		%script{src:"/dist/main.js"} 	
		%script{src:"/dist/form_object.js"}
		%script{src:"/dist/steps.js"} 	
